.mypy_cache
backend/.env

# Python bytecode files and cache
__pycache__/
*.py[cod]
*$py.class
# Byte-compiled files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Other files
*.DS_Store
*.db
*.sqlite3

node_modules/
